{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          {{ range $i, $e := .Site.Params.about.events }}
            <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
              <div class="timeline-image">
                {{ $url := printf "img/about/%s" .img }}
                <img class="img-circle img-responsive" src="{{ $url | absURL }}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ .date }}</h4>
                  <h4 class="subheading">{{ .title | markdownify }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{ .description  | markdownify }}</p>
                </div>
              </div>
            </li>
          {{ end }}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>{{ with .Site.Params.about.endpoint }}{{ . | markdownify }}{{ end }}</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row credits">
      <div class="col-md-4">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">

          {{ range .Site.Params.footer.social }}
            <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}

        </ul>
      </div>
      <div id="credits" class="col-md-4">
        <ul class="list-inline quicklinks">
          {{ range .Site.Params.footer.quicklinks }}
            <li>{{ .tag | markdownify }}: <a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
</footer>
